<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>MedicalStore</title>
  </head>
  <body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'manage_store' %}">Manage Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Manage Medicine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>

    <br>
      <center><h2>Manage Medicine</h2></center>
      <a class="container btn btn-primary" style="margin-left:585px; color:white; width: 130px;" href="{% url 'add_medicine' %}">Add Medicine</span></a><br><br>
      <table class="table table-hover" style="color: rgb(121, 5, 5); border: rgb(70, 102, 5);">
        <thead>
        <tr style="background-color: rgb(235, 95, 95);">
            <th>Action</th>
            <th>Medicine Name</th>
            <th>Medicine Price</th>
            <th>Expiry Date</th>
            <th>Medicine Type</th>
            <th>Store Name</th>
        </tr>
        </thead>
        <tbody>
        {% for var in medicine_list %}
        <tr>
            <td>
              <a href="{% url 'editmedicine' var.id %}" class="btn btn-warning btn-sm">Edit</a>
              <a href="{% url 'deletemedicine' var.id %}" class="btn btn-danger" >Delete</a> 
            </td>
            <td>{{var.medicine_name}}</td>
            <td>{{var.medicine_price}}</td>
            <td>{{var.medicine_expiry_date|date:"d-m-y"}}</td>
            <td>{{var.medicine_type}}</td>
            <td>{{var.store}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>